.App {
  text-align: center;
  margin: 0 8rem 0 8rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-input {
  padding: 1rem;
  border-radius: 2rem;
  margin: 0.5rem;
  width: 20rem;
  outline: none;
  border: none;
  box-shadow: 1px 1px 1px #e0e0e0;
}

.App-nav{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.App-nav-second{
  text-align: center;
}

.App-item{
  border: 5px solid;
  height: 12rem;
  margin-top: 0.5rem;
  width: auto;
  color: #000000c9;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
